@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Styles */
body {
  @apply bg-black text-white;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* Custom scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}